
<div class="container mt-5">
    <h1 class="text-center">Welcome, {{ username }}!</h1>

    <h2 class="mt-4">List car</h2>

    <div class="form-group">
        <label for="sort">Sort By:</label>
        <select id="sort" class="form-control" (change)="changeSort($event)">
            <option value="name">Name</option>
            <option value="brand">Brand</option>
            <option value="color">Color</option>
            <option value="dateBooking">Date booking</option>
        </select>
    </div>

    <table class="table table-bordered table-striped mt-3">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Color</th>
                <th>Date booking</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <td>{{ car.name }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.dateBooking }}</td>
                <td><button type="button" class="btn btn-primary" (click)="navigateUpdateCar(car)">Update</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteCar(car)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" (click)="addNewCar()">Add new car</button>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <button class="btn btn-primary" (click)="previousPage()" [disabled]="pageNo === 1">Previous</button>
        <span>Page {{ pageNo }} of {{ totalPages }}</span>
        <button class="btn btn-primary" (click)="nextPage()" [disabled]="pageNo >= totalPages">Next</button>
    </div>
</div>
